.navbar
{
    display: flex;
    border-bottom-width: 2px;
    border-bottom-color: black;
}
.leftnav
{
    width: 30%;
}
.rightnav
{
    font-family: 'Georgia';
    display: flex;
    width: 70%;
    color: grey;
    font-size: 15px;
    justify-content: flex-end;
}
.line
{
    padding: 10px;
}
.container
{
    font-family: 'Georgia';
    display: grid;
    width: 1300px;
    height: 1000px;
    margin: 35px 60px 20px 100px;
    grid-template-columns: repeat(4,1fr) ;
    grid-template-rows: 200px 200px 200px 200px 200px;
    row-gap: 12px;
    column-gap: 12px;
}
.item{
    height: auto;
    width: auto;
}
.item1
{
    font-family: 'Georgia';
    background-color:#edece8;
    text-align: center;
    align-items: center;
    line-height: 25px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.get
{
    padding: 5px;
    margin: 20px 100px 100px 250px;
    height: 30px;
    width: 90px;
    background-color: black;
    color: white;
}
.item2
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}
.item3
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.item4
{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item5
{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}
.item6
{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item7
{
    background-image: linear-gradient(to right,#5d36eb,#822dba);
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    height: 150px;
    padding-left: 45%;
}
.last
{
    height: 200px;
    background-color:#2b2b2b;
    width: 100%;
    display: flex;
    padding: 20px;
    line-height: 25px;
}
.f{
    width: 25%;
}
.s{
    color: white;
    width: 25%;
}
.t{
    color: white;
    width: 25%;
}
.fo{
    color: white;
    width: 25%;
}
@media only screen and (max-width:1385px)
{
    
    .navbar
    {
        flex-direction: column;
        
    }
    .rightnav
    {
        flex-direction: column;
        align-items: center;
    }
    .last
    {
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
    }
}